# BatchETL Pipeline Environment Variables

# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=warehouse

# Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW_WEBSERVER_DEFAULT_UI_TIMEZONE=Asia/Jakarta

# Database URL
DATABASE_URL=postgresql+psycopg2://admin:admin@postgres:5432/warehouse
